node_modules/
**/node_modules/
frontend/dist/
**/dist/
.env
.env.*
/package-lock.json
backend/.env
frontend/.env.local
backend/uploads/*
!backend/uploads/.gitkeep
!backend/uploads/images/
!backend/uploads/images/.gitkeep
.DS_Store
*.log
.vscode/
.idea/
